@{
    ViewBag.Title = null;
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}
<div class="span-5">
    <div class="span-5">
        <img src="@Url.Content("~/_images/loading.gif")" title="" />
    </div>
    <div class="span-5">
        <label>@this.ViewBag.Message</label>
    </div>
</div>
