<section id="change-password" ng-controller="ChangePasswordAccountController">
    <header><h2>Alterar senha</h2></header>
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <form role="form" id="form-account-password" method="post" novalidate="novalidate" ng-submit="changePassword()" autocomplete="off" >
                <div class="form-group" ng-show="password.activateCode == null">
                    <label for="oldPassword">Senha Atual</label>
                    <input 
                        type="password" 
                        class="form-control" 
                        id="oldPassword" 
                        name="oldPassword"                        
                        ng-model="password.oldPassword"
                        ng-model-options="{allowInvalid: true}"
                        ng-minlength="6"
                        ng-maxlength="100"                                                    
                    >
                </div><!-- /.form-group -->
                <div class="form-group">
                    <label for="newPassword">Nova senha</label>
                    <input 
                        type="password" 
                        class="form-control" 
                        id="newPassword" 
                        name="newPassword"
                        required
                        ng-model-options="{allowInvalid: true}"
                        ng-model="password.newPassword"
                        ng-minlength="6"
                        ng-maxlength="100">
                </div><!-- /.form-group -->
                <div class="form-group">
                    <label for="confirmPassword">Confirmar nova senha</label>
                    <input
                         type="password" 
                         class="form-control" 
                         id="confirmPassword" 
                         name="confirmPassword"
                         required
                         ng-model-options="{allowInvalid: true}"
                         ng-model="password.confirmPassword"
                         match-password="password.newPassword"
                         ng-minlength="6"
                         ng-maxlength="100">                                                     
                </div><!-- /.form-group -->
                <div class="form-group clearfix">
                    <button type="submit" class="btn btn-default" id="form-account-password-submit">Alterar senha</button>
                </div><!-- /.form-group -->
            </form><!-- /#form-account-password -->
        </div>
        <div class="col-md-6 col-sm-6">
            <strong>Dica:</strong>
            <p>
                Para tornar sua senha mais segura, use letras maiúsculas e minúsculas, números e caracteres especiais, como @, % e !.
            </p>
        </div>
    </div>
</section>