<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>Recuperação de senha</h1>
    <p>
        Acesse: <a href="http://www.pescarimoveis.com.br/manager/login.aspx" target="_blank">http://www.pescarimoveis.com.br</a><br />
        Usuário:<% UserName %><br />
        Senha:<% Password %><br />
    </p>
    <p>
        Altere sua senha acessando Dados de conta -> Alterar Senha.</p>
</body>
</html>
