<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Registro - Pescar Imóveis</title>
</head>
<body>
    <h1>Registro - Pescar Imóveis</h1>   
    <span>
        <p>Prezado(a) <%UserName%>,<br /> Seja bem vindo ao pescar imóveis.</p>
        Clique <a href="<%=Site%>/account.aspx/enable?code=<%=ActivateKey%> >Aqui</a> para confirma o seu cadastro.
        <br/>-------------------    Mensagem automática de sistema, favor não responder -----------------------------
    </span>
</body>
</html>
