@{
    ViewBag.Title = SpongeSolutions.ServicoDireto.Internationalization.Label.Unauthorized_Title;
}
<div class="container">
    <div class="form-header1 dialog_warning">
        <h3>@SpongeSolutions.ServicoDireto.Internationalization.Label.Unauthorized_Title</h3>
    </div>
    <div class="span-21 toolbar">
        <ul>
            <li>
                <input type="button" value="@SpongeSolutions.ServicoDireto.Internationalization.Label.Back" class="back" onclick="location.href='@Url.Action("/index", "home")'" />
            </li>
        </ul>
    </div>
</div>
