@*<div class="container footer">
    <ul>
        <li>NBN Automação Industrial</li>
        <li><a href="http://www.nbn.com.br">www.nbn.com.br</a></li>
        <li>Rua Sérgio Jungblut Dieterich, 900 – Depósito 22</li>
    </ul>
    <ul>
        <li>CEP: 91060-410 - Porto Alegre - RS</li>
        <li>Telefone: +55 XX (51) 3366.1026</li>
        <li>FAX: +55 XX (51) 3366.2829</li>
    </ul>
</div>
*@
