
<div class="property small" ng-repeat="item in array | limitTo:limit">
    <a href="#/property-detail/{{ item.idElement }}" ui-sref="property-detail({ idElement: item.idElement })">    
        <div class="property-image">
            <img alt="" src="{{ item.defaultPicturePath.includes('http') ? item.defaultPicturePath : config.adminSite + '/' + item.defaultPicturePath }}">
        </div>
    </a>
    <div class="info">
        <a href="#/property-detail/{{ item.idElement }}" ui-sref="property-detail({ idElement: item.idElement })">    
            <h4>{{ item.name }}</h4>
        </a>
        <figure>
            {{ item.cityName + ', ' +item.stateProvinceName + ', ' + item.countryName }}
        </figure>
        <div class="tag price">{{ item.price }}</div>
    </div>
</div>
