<!-- MAIN CONTENT -->
<div id="content">
    <div class="row">
        <big-breadcrumbs items="['Idiomas', 'Gerenciamento']" icon="map-marker" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
    </div>

<!-- widget grid -->
<section id="widget-grid" widget-grid>

    <!-- row -->
    <div class="row">

        <!-- NEW WIDGET ROW START -->
        <div class="col-sm-12">

            <!-- Widget ID (each widget will need unique ID)-->
            <div jarvis-widget id="wid-id-0" data-widget-colorbutton="false"    data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-sortable="false">
                <div>
                    <!-- widget content -->
                    <div class="widget-body">
                        <form id="form" method="post" novalidate="novalidate" ng-submit="$event.preventDefault(); save();">
                            <fieldset>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label class="control-label">ID</label>
                                            <input 
                                                type="text" 
                                                ng-disabled="record.createdBy!=null"
                                                class="form-control"
                                                id="idCulture" 
                                                name="idCulture" 
                                                ng-minlength="2"
                                                ng-maxlength="5"                                                
                                                ng-model="record.idCulture"
                                                />
                                        </div>
                                        <div class="col-md-3">  
                                            <label class="control-label">Nome</label>
                                            <input 
                                                id="name" 
                                                name="name" 
                                                type="text" 
                                                class="form-control"
                                                required
                                                ng-maxlength="100"
                                                ng-model="record.name"
                                                />
                                        </div>
                                        <div class="col-md-4">  
                                            <label class="control-label">Ícone</label>
                                            <select
                                                 required 
                                                 class="form-control" 
                                                 id="idIcon"
                                                 name="idIcon"
                                                 ng-model="record.idIcon"  
                                                 ng-options="item.idIcon as item.name for item in icons">                                               
                                                <option value="">[Ícone]</option>
                                            </select>                                                  
                                        </div>                                        
                                    </div>                                       
                                </div>        

                                <div class="form-group" ng-hide="record.createdBy==null">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="control-label">Status</label>
                                            <select
                                                 required 
                                                 class="form-control" 
                                                 id="status"
                                                 name="status"
                                                 ng-model="record.status"  
                                                 ng-options="item.key as item.value for item in status">
                                                <option value="">[Status]</option>
                                            </select>

                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">  
                                            <label class="control-label">Criado Por</label>
                                            <span>{{ record.createdBy }}</span>      
                                        </div>
                                        
                                        <div class="col-md-6">  
                                            <label class="control-label">Data de Criação</label>
                                            <span>{{ record.createDate }}</span>      
                                        </div>
                                    </div>                                       
                                </div>        

                                <div class="form-group" ng-hide="record.createdBy==null">
                                    <div class="row">
                                        <div class="col-md-6">  
                                            <label class="control-label">Modificado Por</label>
                                            <span>{{ record.modifiedBy }}</span>           
                                        </div>                                                                                
                                        <div class="col-md-6">  
                                            <label class="control-label">Data de Modificação</label>
                                            <span>{{ record.modifyDate }}</span>           
                                        </div>                                  
                                    </div>                                       
                                </div>                                        

                            
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button class="btn btn-primary" type="submit" >
                                                <i class="glyphicon glyphicon-floppy-disk"></i>
                                                Salvar
                                            </button>

                                            <a class="btn btn-danger" ng-click="cancel();">
                                                <i class="glyphicon glyphicon-list-alt" ></i>
                                                Cancelar
                                            </a>                                            

                                            <a class="btn btn-warning" ng-click="new();">
                                                <i class="glyphicon glyphicon-plus-sign" ></i>
                                                Novo
                                            </a>                                                                                        
                                        </div>
                                    </div>
                                </div>
                            </fieldset>            
                        </form>
                   </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->
            </div>
            <!-- end widget -->

        </div>

    </div>

</section>