@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutFull.cshtml";
}
<link rel="stylesheet" href="@String.Concat(SpongeSolutions.ServicoDireto.Admin.SiteContext.LayoutPath, "/_css/components/prettyphoto/prettyphoto.css")" type="text/css" media="screen" title="prettyPhoto main stylesheet" charset="utf-8" />
<script type="text/javascript" src="@String.Concat(SpongeSolutions.ServicoDireto.Admin.SiteContext.LayoutPath, "/_scripts/components/prettyphoto/jquery.prettyPhoto.js")" ></script>
<script type="text/javascript" src="@String.Concat(SpongeSolutions.ServicoDireto.Admin.SiteContext.LayoutPath, "/_scripts/jquery.numberformatter.js")" ></script>
@*<script src="../../jquery-1.4.4-vsdoc.js" type="text/javascript"></script>*@
<style>
    ul li
    {
        display: inline;
    }
    .progress-number
    {
        font-size:smaller;
        margin-left:5px;
    }    
</style>
<script language="javascript" type="text/javascript">
    $(function () {
        $('#files-to-upload').change(
            function (e) {
                var files = this.files;
                $("#upload-list").removeClass("hide");
                $("#upload-list").html("");
                for (i = 0; i < files.length; i++) {
                    CreateUploadLine(files[i], i);
                }

                $("#uploadedfile").click();
                return false;
            }
        );
        $(".gallery a[rel^='prettyPhoto']").prettyPhoto({ animation_speed: 'normal', theme: 'light_rounded', slideshow: 3000, autoplay_slideshow: false });
        NBN.Helper.ApplyMask();
        $("#tabs").tabs();
    });

    function GetProgressbarID(file) {
        return (file.name + '_' + file.size + '_' + file.type).replace(' ', '_').replace(',', '_').replace('.', '_').replace('/', '_');
    }

    function CreateUploadLine(file, index) {
        var totalKb = file.size / 1024;
        totalKb = $.formatNumber(totalKb, { format: "#.###.00", locale: "us" });
        var progressbarID = GetProgressbarID(file)

        var result = $("<div>").attr("class", "span-18 bottomline")
            .append($("<div>").attr("class", "span-1").attr("id", progressbarID + "_ProgressStatus").html("&nbsp;"))
            .append($("<div>").attr("class", "span-5").html(file.name))
            .append($("<div>").attr("class", "span-3").html(totalKb + "Kb"))
            .append($("<div>").attr("class", "span-3").html(file.type))
            .append($("<div>").attr("class", "span-5").append($("<div>").attr("class", "ProgressBar").attr("id", progressbarID)))
            .append($("<div>").attr("class", "span-1 progress-number").attr("id", progressbarID + "_ProgressNumber"));
        $("#upload-list").append(result);
        $("#" + progressbarID).progressbar({ value: 0, max: 100 });
    }
</script>
<script type="text/javascript">
    $(function () {
        //is the file api available in this browser
        //only override *if* available.
        if (new XMLHttpRequest().upload) {
            $("#uploadedfile").click(function () {
                //upload files using the api
                //The files property is available from the
                //input DOM object
                upload_files($("#files-to-upload")[0].files);
                return false;
            });
        }
    });

    //accepts the input.files parameter
    function upload_files(filelist) {
        if (typeof filelist !== "undefined") {
            for (var i = 0, l = filelist.length; i < l; i++) {
                upload_file(filelist[i]);
            }
        }
    }

    //each file upload produces a unique POST
    function upload_file(file) {
        xhr = new XMLHttpRequest();
        var progressbarID = GetProgressbarID(file)
        xhr.upload.addEventListener("progress", function (evt) {
            if (evt.lengthComputable) {
                //update the progress bar
                var percentual = (evt.loaded / evt.total) * 100;
                $("#" + progressbarID).progressbar({ value: percentual, max: 100 });
                $("#" + progressbarID + "_ProgressNumber").html($.formatNumber(percentual, { format: "#,###.00", locale: "us" }) + '%');
            }
        }, false);

        // File uploaded
        xhr.addEventListener("load", function () {
            $("#" + progressbarID + "_ProgressNumber").html("100%");
            $("#" + progressbarID + "_ProgressStatus").addClass("save");
            $("#" + progressbarID).progressbar({ value: 100, max: 100 });
        }, false);

        xhr.open("post", "uploadfile", true);

        // Set appropriate headers
        // We're going to use these in the UploadFile method
        // To determine what is being uploaded.
        xhr.setRequestHeader("Content-Type", "multipart/form-data");
        xhr.setRequestHeader("X-File-Name", file.name);
        xhr.setRequestHeader("X-File-Size", file.size);
        xhr.setRequestHeader("X-File-Type", file.type);

        // Send the file
        xhr.send(file);
    }

</script>
<div class="container">
    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">@SpongeSolutions.ServicoDireto.Internationalization.Label.General</a></li>
        </ul>
        @using (Html.BeginForm("uploadfile", "test", FormMethod.Post, new { enctype = "multipart/form-data", id = "uploadImageForm", name = "uploadImageForm" }))
        {
            <div id="tabs-1">
                <fieldset>
                    <legend>Gerenciamento de Imagens</legend>
                    <div class="span-21">
                        <br />
                        <div class="span-18">
                            <label>Selecionar as fotos do imóvel:<br /></label>
                            <input type="file" name="files-to-upload" id="files-to-upload" size="35" multiple accept="gif|jpg" /><br />
                            <input type="button" name="uploadedfile" id="uploadedfile" value="Enviar" class="hide"/>
                        </div>
                        <div class="span-18 bottomline">
                            &nbsp;</div>
                        <div class="span-18 hide" id="upload-list">
                            <div class="span-18 bottomline alternating leftline rightline">
                                <div class="span-1">&nbsp;</div>
                                <div class="span-5">Nome Arquivo</div>
                                <div class="span-3">Tamanho</div>
                                <div class="span-3">Tipo</div>
                            </div>
                        </div>
                        <div class="span-21">
                            <br />
                            <ul class="gallery clearfix">
                                <li>
                                    <a href="/images/fullscreen/3.jpg" rel="prettyPhoto[gallery2]" title="How is the description on that one? How is the description on that one? How is the description on that one? ">
                                        <img src="/images/thumbnails/t_3.jpg" width="60" height="60" alt="This is a pretty long title" />
                                    </a>
                                </li>
                                <li>
                                    <a href="/images/fullscreen/4.jpg" rel="prettyPhoto[gallery2]" title="Description on a single line.">
                                        <img src="/images/thumbnails/t_4.jpg" width="60" height="60" alt="" />
                                    </a>
                                </li>
                                <li>
                                    <a href="/images/fullscreen/5.jpg" rel="prettyPhoto[gallery2]">
                                        <img src="/images/thumbnails/t_5.jpg" width="60" height="60" alt="" />
                                    </a>
                                </li>
                                <li>
                                    <a href="/images/fullscreen/1.jpg" rel="prettyPhoto[gallery2]">
                                        <img src="/images/thumbnails/t_1.jpg" width="60" height="60" alt="" />
                                    </a>
                                </li>
                                <li>
                                    <a href="/images/fullscreen/2.jpg" rel="prettyPhoto[gallery2]">
                                        <img src="/images/thumbnails/t_2.jpg" width="60" height="60" alt="" />
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </fieldset>
            </div>
        }
    </div>
</div>
